<div class="container add-question ">
    <div class="row">
        <div class="col">
            <div class="question-form">
                <h5>Create a question</h5>
            <hr>
            <form>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Question number</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Question</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Which is semantically correct in HTML?">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Answers</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="First answer">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Second answer">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Third answer">
                </div>
                
                <div class="flex">
                    <button type="submit" class="btn btn-dark">Save</button>
                    <button type="submit" class="btn btn-dark">+ Add Questions</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>