.quizzes {
    /* background-color: aqua; */
    margin-top: 6rem;
    margin-left: 0.9rem;
}

/* edit and delete buttons */
.edit {
    color: green;
    font-size: large;
}

.delete {
    color: red;
    margin-left: 0.3rem;
    font-size: large;
}

.edit:hover {
    color: rgb(0, 167, 0);
    cursor: pointer;
}

.delete:hover {
    color: rgb(206, 37, 37);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    /* html, body {
        overflow-x: hidden;
    }

    boby {
        position: relative;
    } */

    *{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -msbox-sizing: border-box;
    }

    .quiz {
        margin-left: 0.8rem;
        margin-bottom: 2rem;
     }

}