<div class="container-fluid quizzes">
    <div class="row">
        <div class="col-md-3">
            <div class="card quiz" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/12848330/pexels-photo-12848330.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-head flex">
                        <h5 class="card-title">JavaScript Quiz</h5>
                        <div class="flex">
                            <i class='bx bxs-pencil edit'></i>
                            <i class='bx bx-trash delete'></i>
                        </div>
                    </div>
                  <p class="card-text">The test is not official, it's just a nice way to see how much you know, or don't know, about JavaScript.</p>
                  <div class="quizzes-buttons flex">
                    <a href="#" class="btn btn-secondary">Take Quiz</a>
                    <a href="#" class="btn btn-secondary">Results</a>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-md-3">
            <div class="card quiz" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/12848330/pexels-photo-12848330.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-head flex">
                        <h5 class="card-title">JavaScript Quiz</h5>
                        <div class="flex">
                            <i class='bx bxs-pencil edit'></i>
                            <i class='bx bx-trash delete'></i>
                        </div>
                    </div>
                  <p class="card-text">The test is not official, it's just a nice way to see how much you know, or don't know, about JavaScript.</p>
                  <div class="quizzes-buttons flex">
                    <a href="#" class="btn btn-secondary">Take Quiz</a>
                    <a href="#" class="btn btn-secondary">Results</a>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-md-3">
            <div class="card quiz" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/12848330/pexels-photo-12848330.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-head flex">
                        <h5 class="card-title">JavaScript Quiz</h5>
                        <div class="flex">
                            <i class='bx bxs-pencil edit'></i>
                            <i class='bx bx-trash delete'></i>
                        </div>
                    </div>
                  <p class="card-text">The test is not official, it's just a nice way to see how much you know, or don't know, about JavaScript.</p>
                  <div class="quizzes-buttons flex">
                    <a href="#" class="btn btn-secondary">Take Quiz</a>
                    <a href="#" class="btn btn-secondary">Results</a>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-md-3">
            <div class="card quiz" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/12848330/pexels-photo-12848330.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-head flex">
                        <h5 class="card-title">JavaScript Quiz</h5>
                        <div class="flex">
                            <i class='bx bxs-pencil edit'></i>
                            <i class='bx bx-trash delete'></i>
                        </div>
                    </div>
                  <p class="card-text">The test is not official, it's just a nice way to see how much you know, or don't know, about JavaScript.</p>
                  <div class="quizzes-buttons flex">
                    <a href="#" class="btn btn-secondary">Take Quiz</a>
                    <a href="#" class="btn btn-secondary">Results</a>
                  </div>
                </div>
              </div>
        </div>

    </div>
</div>
