<div class="container choices">
    <div class="row">
        <div class="col-md-12">
            <h4>HTML Quiz Results</h4>
            <h6>Score: 6 of 12(50%)</h6>
            <div class="question">
                <hr>
                <p class="fs-5">Question 1:</p>
                <p>Which of the below code snippets is HTML semantically correct?</p>
                <div class="card">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item wrong">I am not sure</li>
                      <li class="list-group-item"> I will answer this later</li>
                      <li class="list-group-item"> I have forgoten</li>
                      <li class="list-group-item correct">None of the above</li>
                    </ul>
                  </div>
                
            </div>

            <div class="question">
                <hr>
                <p class="fs-5">Question 2:</p>
                <p>What does HTML stand for?</p>
                <div class="card">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Hyper Text Mark Language</li>
                      <li class="list-group-item correct">Hyper Text Markup Language</li>
                      <li class="list-group-item wrong">Hyper Text Markup Languag</li>
                      <li class="list-group-item">None of the above</li>
                    </ul>
                  </div>
                
            </div>
            
        </div>
    </div>
</div>
