.choices {
    margin-top: 8rem;
    margin-bottom: 3rem;
    background-color: rgb(219, 219, 219);
    padding: 2rem;
}

.card {
    width: 67.3rem;
}

.list-group-item {
    background-color: rgb(212, 212, 212);
}

.wrong {
    background-color: rgb(252, 188, 188);
}

.correct {
    background-color: rgb(175, 233, 175);
}

@media only screen and (max-width: 600px) {
    .choices {
        margin-top: 5.5rem;
    }
    .card {
        width: 20.3rem;
    }
}