.create-quiz {
    background-color: #a8a8a8;
    margin-top: 7rem;
}

.quiz-form {
    border-radius: 0.3rem;
}


/* media query */
 @media only screen and (max-width: 600px) {
    .create-quiz {
        margin-top: 2rem;
    }

    .quiz-form {
        height: auto;
    }
}  



