<div class="container create-quiz">
    <!-- <div class="quiz-sec"> -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5 quiz-form">
            <h5>Create a quiz in minutes.</h5>
            <hr>
            <form>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Quiz image</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Quiz title</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="HTML Quiz...">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Quiz description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Test you HTML skills by taking this quiz test..."></textarea>
                </div>
                <div class="flex">
                    <button type="submit" class="btn btn-dark">Save</button>
                    <a routerLink="/add-question"><button type="submit" class="btn btn-dark">+ Add Questions</button></a>
                </div>
            </form>
        </div>

        <div class="col-md-4 quiz-sec">
            <div class="card quiz" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/3408744/pexels-photo-3408744.jpeg?auto=compress&cs=tinysrgb&w=600"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-head flex">
                        <h5 class="card-title">JavaScript Quiz</h5>
                    </div>
                    <p class="card-text">The test is not official, it's just a nice way to see how much you know, or
                        don't know, about JavaScript.</p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<!-- </div> -->