<div class="container quiz-question py-5">
    <div class="row">
        <div class="col">
            <div class="card" >
                <div class="card-header text-center">
                    HTML Quiz
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item question">Which of the below code snippets is HTML semantically correct?</li>
                    <li class="list-group-item answers">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                I am not sure
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item answers">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                I will answer this later
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item answers">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                I have forgoten
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item answers">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                None of the above
                            </label>
                        </div>
                    </li>
                    <!-- buttom -->
                    <li class="list-group-item flex">
                        <div class="count flex">
                            <p class="question-number">Q1/5</p>
                            <p>01:30</p>
                        </div>
                        <button type="button" class="btn btn-secondary">Next</button>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>



